*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info
.idea

# CDK asset staging directory
.cdk.staging
cdk.out

configs/config.yml

cdk.context.json

templates/lambda/*/package
templates/lambda/*/*.zip